development:
  adapter: postgis
  encoding: utf8
  reconnect: false
  database:
  pool: 5
  username:
  host: localhost
  port: 5432


test:
  adapter: postgis
  encoding: utf8
  reconnect: false
  database:
  pool: 5
  username:
  host: localhost
  port: 5432